.App {
  height: 100vh;
  background-image: url('assets/bg.png');
  background-position: center;
  background-size: cover;
}

.tile {
  background-color: #F4D35E;
  border-radius: 12px;
  border-style: solid;
  border-color: #D1BB6A;
  border-width: 8px;
  margin: 8px;
  padding: 16px;
}

#header {
  text-align: center;
  height: 320px
}

#left, #right {
  height: 400px;
}

.avatar {
  background-color: grey;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border-style: solid;
  border-color: darkgray;
  border-width: 4px;
}

#timer {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  padding:20px;
  margin: auto;
}

#QuestionCardComponent {
  text-align: center;
}