/* fonts */
@font-face {
  font-family: 'linglenglangregular';
  src: url('assets/fonts/linglenglang-webfont.woff2') format('woff2'),
       url('assets/fonts/linglenglang-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100vh;
  background-image: url('assets/bg.png');
  background-position: center;
  background-size: cover;
} 

.tile {
  background-color: #F4D35E;
  border-radius: 12px;
  border-style: solid;
  border-color: #D1BB6A;
  border-width: 8px;
  margin: 4px;
  padding: 16px;
}

#header {
  text-align: center;
  height: 360px
}

#left, #right {
  height: 400px;
}

.avatar {
  background-color: grey;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border-style: solid;
  border-color: darkgray;
  border-width: 4px;
}

#timer {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  padding:20px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

#QuestionCardComponent {
  text-align: center;
}

#landingPage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title {
  font-family: 'linglenglangregular';
  color: #F4D35E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 96px;
  line-height: 88px;
}

hr {
  border-top: 1px solid white;
}

h6 { 
  display: flex; 
  flex-direction: row; 
  color: rgba(255, 255, 255, 0.75);;
  font-size: 16px;
} 

h6:before, h6:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid white; 
    text-align: center;
    margin: auto; 
} 

#joinRoomButton {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#instructionsButton {
  background-color: #7B6AEB;;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.btn-success {
  background-color: #06D6A0;
  border: 0;
}

.btn-warning {
  background-color: #F4D35E;
  border: 0;
}

#instructionsText {
  padding: 0 10px;
}

#exampleContainer {
  border: 5px solid;
  padding: 10px;
  border-color: #CCB447;
  border-radius: 8px;
  margin: 0 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #F4D35E;
}

.display-block {
  display: block;
}

.display-none {
  display: none; 
}

#nicknameTitle {
  font-family: 'linglenglangregular';
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  line-height: 44px;
}

#star_gold, #star_silver, #star_bronze {
  border-radius: 100%;
  border-style: solid;
  border-width: 8px;
  padding: 8px;
  margin: 24px;
}

#star_gold {
  background-color: #FFCD0E;
  border-color: #FEE449;
  height: 80px;
  width: 80px;
}

#star_silver {
  background-color: #D9D9D9;
  border-color: #EDF1F4;
  height: 72px;
  width: 72px;
}

#star_bronze {
  background-color: #FE993F;
  border-color: #FFC174;
  height: 64px;
  width: 64px;
}

.title{
  font-family: 'linglenglangregular';
  color: #F4D35E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 0px;
  padding-top: 8px;
}

.scrollbar {
    float: left;
    height: 96%;
    width: 100%;
    padding: 0 5%;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.player_scores {
  display: flex;
  flex-wrap: wrap;
}

.player_scores > h5 {
  flex-grow: 1;
	width: 33%;
}
